#anchorContainerTotalAvailableMovies {
	-fx-background-color: #d90429;
	-fx-background-radius: 16.0;
}
#anchorContainerTotalRevenue {
	-fx-background-color: #d90429;
	-fx-background-radius: 16.0;
}
#anchorContainerTotalSoldTicket {
	-fx-background-color: #d90429;
	-fx-background-radius: 16.0;
}
