#forgotPasswordContainer {
	-fx-background-color: rgb(19.0, 13.0, 14.0);
    -fx-background-radius: 24.0px;
    -fx-border-radius: 24.0px;
    -fx-opacity: 0.9;
}
#inputForgotEmailField {
	-fx-background-color: #ffffff;	
}
#inputForgotOTPField {
	-fx-background-color: #ffffff;
}
#btnSendOTP {
	-fx-text-fill: #ffffff;
	-fx-background-color: #1768ac;
}
#btnVerifyOTP {
	-fx-text-fill: #ffffff;
	-fx-background-color: #E50913;
	-fx-opacity: 1;
}
