#SignUpVerificationContainer {
	-fx-background-color: rgb(19.0, 13.0, 14.0);
    -fx-background-radius: 24.0px;
    -fx-border-radius: 24.0px;
    -fx-opacity: 0.9;
}
#inputOTPVerification {
	-fx-background-color: #ffffff;
}
#inputSignUpPassword {
	-fx-background-color: #ffffff;
}
#btnCreateAccount {
	-fx-text-fill: #ffffff;
	-fx-background-color: #E50913;
}
